li {
	justify-content: space-between;
}

.action-wrapper {
	display: inline-block;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	width: 40px;
}

.description {
	flex-basis: 80%;
}

#add {
	text-align: center;
}

button {
	margin-top: 30px;
}
