[nz-col] {
	margin: 30px 0;
}

nz-card {
	background-color: #f0f2f5;
}

nz-card:hover {
	border: 1px solid #ababab;
	-webkit-box-shadow: 0 2px 8px 8px rgba(128, 128, 128, 0.75);
	-moz-box-shadow: 0 2px 8px 8px rgba(128, 128, 128, 0.75);
	box-shadow: 0 2px 8px 8px rgba(128, 128, 128, 0.75);
}

.ant-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.title {
	font-weight: 900;
	font-size: 1.5em;
}

.header {
	display: flex;
	justify-content: space-between;
}

.buttons button {
	margin-right: 10px;
}
