.logo {
	width: max-content;
	margin: 16px 24px 16px 0;
	float: left;
	color: #fff;
	text-transform: capitalize;
	font: 900 24px sans-serif;
}

[nz-menu] {
	line-height: 64px;
}

nz-footer {
	text-align: center;
}

.right {
	float: right;
}
